
<div class="panel panel-heading">
   <div class="panel-heading"><h3>Caddies</h3></div>
   <div class="panel-body">
     <table class="table table-sm ">
       <tr>
         <th>ID</th><th>Name</th><th>Quantity</th><th>Prix</th>
       </tr>
       <tr *ngFor="let pi of caddyService.getCurrentCaddy().items.values()">
          <td>{{pi.prodct.id}}</td>
         <td>{{pi.prodct.name}}</td>
         <td>{{pi.prodct.quantity}}</td>
         <td>{{pi.prodct.currentPrice}}</td>
       </tr>
       <tr>
         <td colspan="3">Total</td>
          <td>{{caddyService.getTotal()}}</td>
       </tr>
     </table>
   </div>
 </div>



